app-toolbar{
    display: grid;
    grid-area: toolbar;
}
app-navbar{
    display: grid;
    grid-area: navbar;
}
app-principal{
    display: grid;
    grid-area: principal;   
}

@media screen and (min-width: 800px) {

    #main{
        height: auto;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas: "toolbar toolbar" "navbar principal" "navbar principal";
    }
}