
<mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
      <mat-form-field>
        <input formControlName="usuario" [class.is-invalid]="f.usuario.errors && f.usuario.touched" matInput placeholder="Nombre de usuario" required id="validationServerUsername">
        <div id="validationServerUsername" class="invalid-feedback">
          Usuario Obligatorio
        </div>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" matInput type="password" placeholder="Contraseña" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Contraseña Obligatoria
        </div>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
    </form>
</mat-card>

